
<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog Codeblog - Curso com Micheli Brito</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body style="background-color: black">

<header>
  <!-- Como um span -->
  <nav class="navbar navbar-light bg-dark" style="background-color: #1D1D1D !important;">
    <span class="navbar-brand mb-0 h1" style="color: #f9f9f9">Blog CodeBlog - LabJorge</span>
    <a href="/newpost" class="btn btn-dark" role="button">Novo Post</a>
  </nav>
</header>

<section>
  <div class="container" style="width: 60%; padding-bottom:30px;position: relative">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #363636">
        <li class="breadcrumb-item active" aria-current="page">Posts</li>
      </ol>
    </nav>

    <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;border: 1px solid #363636" th:each="post :${posts}">
      <div class="card-body" style="background-color: #363636;">
        <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
          <span th:text="${post.autor}"></span>
          <span th:text="${post.data}"></span>
        </p>

        <a th:href="${(#mvc.url('CC#getPostDetails').arg(0, post.id)).build()}" style="text-decoration: none"><h1 class="card-title" style="font-weight:bold; color: #1d1d1d;padding-top: 5px"><span th:text="${post.titulo}" ></span></h1></a>

        <p class="card-text" style="color: #7A8692">
          <span th:utext="${#strings.abbreviate(post.texto,200)}"></span>
        </p>
      </div>
    </div>

  </div>

</section>

</body>
</html>