
<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${'Post: ' + post.titulo}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body style="background-color: black">

<header>
    <!-- Como um span -->
    <nav class="navbar navbar-light bg-dark" style="background-color: #1D1D1D !important;">
        <span class="navbar-brand mb-0 h1" style="color: #f9f9f9">Blog CodeBlog</span>
        <a href="/newpost" class="btn btn-dark" role="button">Novo Post</a>
    </nav>
</header>

<main>

    <div class="container" style="width: 60%; padding-bottom:30px;position: relative">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #363636">
                <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${post.titulo}"></li><!--DEFININDO DENTRO DA Expression Language STRING STATIC + TITULO DO POST-->
            </ol>
        </nav>

        <!--INCLUIND ABAIXO ARTICLE, CORPO DO CONTEUDO DO POST QUE SERA RENDERIZADO DINAMICAMENTE-->
        <article>
            <h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;">
                <span th:text="${post.titulo}"></span>
            </h1>

            <p class="card-subtitle mb-2 text-muted">
                <i class="material-icons">person_outline</i>
                <span th:text="${post.autor}"></span>

                </br>
                <i class="material-icons">date_range</i>
                <span th:text="${post.data}"></span>

            </p>
            <section>
                <p class="card-text" style="margin-top: 40px;"> <span th:utext="${post.texto}"></span></p>
            </section>
        </article>

    </div>

</main>

</body>
</html>